body {
  color: #939598;
  text-align: center;
  font-family: "Georgia";
}

#main {
  width: 100%;
}

.inactive {
  color: #FFFFFF;
}
.inactive a {
  color: #FFFFFF;
}
.hidden {
  display: none;
}
#bookmarklet {
  display: block;
  width: 127px;
  height: 49px;
  background: url(/images/WLW_button.png) no-repeat;
  text-indent: -4000px;
}
#bookmarklet:hover {
  opacity: 0.5;
}
#header h1 {
  font-size: 44px;
  height: 180px;
  line-height: 180px;
  color: #A7A9AC;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
#header.inactive h1 {
  color: #FFFFFF;
}
#button-wrapper {
  width: 127px;
  margin: 70px auto;
}
#button-wrapper.bordered {
  border-top: 1px solid #BCBEC0;
  border-bottom: 1px solid #BCBEC0;
}
#instructions {
  font-size: 18px;
  color: #BCBEC0;
  text-align: left;
  width: 60%;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
#instructions.inactive {
  color: #FFFFFF;
}
#instructions ol {
  list-style: none;
}
#button-section {
  border-top: 1px solid #BCBEC0;
  border-bottom: 1px solid #BCBEC0;
  margin-bottom: 50px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
#button-section.inactive {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
#arrow {
  position: absolute;
}
#about {
  text-align: left;
  width: 60%;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  font-size: 18px;
  line-height: 30px;
  color: #A7A9AC;
}
#about strong {
  color: #A7A9AC;
}
#about a, #about a:visited, #about a:hover, #about a:active {
  color: #A7A9AC;
}
#about_link_wrapper {
  text-align:center;
}
#about_link_wrapper a {
  color: #BCBEC0;
  text-decoration: none;
}
