body {
  color: #939598;
  text-align: center;
  font-family: "Georgia";
  overflow-y: scroll;
}

#main {
  width: 100%;
}

.inactive {
  color: #FFFFFF;
}
.inactive a {
  color: #FFFFFF;
}
.hidden {
  display: none;
}
#bookmarklet {
  display: block;
  width: 127px;
  height: 49px;
  margin: 70px auto;
  background: url(/images/WLW_button.png) no-repeat;
  text-indent: -4000px;
}
#bookmarklet.bordered {
  border-top: 1px solid #BCBEC0;
  border-bottom: 1px solid #BCBEC0;
}
#bookmarklet.firefox {
  color: #FFF;
  font-family: "Georgia";
  font-size: 17px;
  text-align: center;
  line-height: 49px;
  text-indent: 0px;
  background: #44C8F5;
  border: 1px solid #00AEEF;
  border-radius: 6px;
  text-decoration: none;
}
#bookmarklet:hover {
  opacity: 0.5;
}
#header h1 {
  font-size: 44px;
  height: 180px;
  line-height: 180px;
  color: #A7A9AC;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
#header.inactive h1 {
  color: #FFFFFF;
}
#instructions {
  font-size: 18px;
  color: #BCBEC0;
  text-align: left;
  margin: 0 auto;
  width: 510px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
#instructions.inactive {
  color: #FFFFFF;
}
#instructions ol {
  list-style: none;
  margin: 0;
}
#button-section {
  border-top: 1px solid #BCBEC0;
  border-bottom: 1px solid #BCBEC0;
  margin-bottom: 50px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
#button-section.inactive {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
#arrow {
  position: absolute;
}
#about {
  width: 40%;
  text-align: left;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  font-size: 18px;
  line-height: 30px;
  color: #A7A9AC;
}
#about strong {
  color: #A7A9AC;
}
#about a, #about a:visited, #about a:hover, #about a:active {
  color: #A7A9AC;
}
#about_link_wrapper {
  margin-top: 150px;
  text-align:center;
  margin-bottom: 20px;
}
#about_link_wrapper a {
  color: #BCBEC0;
  text-decoration: none;
}
.thanks {
  font-size: smaller;
}
.thanks a {
  text-decoration: none;
}
.thanks a:hover {
  text-decoration: none;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
